{% extends 'base.html.twig' %}

{% block title %}information projet{% endblock %}
{% block body %}
<section class="container">
    <div class="mx-auto w-75">
        <div class="container ">
            <span class=" fw-bold h3">Information sur le projet </span>
            <hr>
        </div>
        <div class="container ">
            <p class="px-3"><span class="fw-bold">Titre :</span> {{projet.titre}}</p>
            <hr>
            <p class="px-3"><span class="fw-bold">Description :</span> {{projet.description}}</p>
            <hr>
            <p class="px-3"><span class="fw-bold">Financement demandé :</span> {{projet.financement}} FCFA </p>
            <hr>
            <p><a href="{{asset('uploads/' ~ projet.resume) }}" class="btn btn-success">Télécharger le résumé</a></p>
            <hr>
            <div class="containeR my-4">
                <div class="container-fluid">
                    <p class="fw-bold h3">Quelques images</p>
                    {% if app.user %}
                    {% if app.user.id == projet.chefProjet.id %}
                        <a href="{{path("add_image",{'id':projet.id})}}" class="btn btn-success">Ajouter image</a>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="row mt-2 g-3">
                    {% if projet.brandImage != null %}
                        <div class="col-md-3 border-2 rounded shadow bg-danger p-0">
                            <div class="card">
                                <img src="{{ asset('uploads/' ~ projet.brandImage) }}" alt=""  class="img-fluid card-img-top" style="height:250px; ">
                            </div>
                        </div>
                    {% endif %}
                    
                    {% for fichier in projet.fichiers %}
                        <div class="col-md-3 border-2 rounded shadow bg-danger p-0">
                            <div class="card">
                            <img src="{{ asset('uploads/' ~ fichier.nom) }}" alt=""  class="img-fluid card-img-top" style="height:250px; ">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="container row gy-4 mb-5">
                <div class="container my-3">
                    <p class="fw-bold h3">Membre du projet</p>
                    {% if app.user %}
                    {% if app.user.id == projet.chefProjet.id %}
                        <a href="{{path("add_membre",{'id':projet.id})}}" class="btn btn-success">Ajouter membre</a>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <div class="card P-0">
                        <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="">
                        <div class="card-body">
                            <span class="fw-bold">{{projet.chefProjet.nom}} </span>
                            <span> {{projet.chefProjet.prenom}}</span>
                            <span> [Chef Projet]</span>
                            <hr>
                            <p>{{projet.chefProjet.metier}}</p>
                            <a href="{{path("contact_user")}}" class="btn btn-secondary">Contacter</a>
                        </div>
                    </div>
                </div>
                {% for membre in projet.membres %}
                    <div class="col-md-3">
                        <div class="card P-0">
                            <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="">
                            <div class="card-body">
                                <span class="fw-bold">{{membre.nom}} </span>
                                <span> {{membre.prenom}}</span>
                                <hr>
                                <p>{{membre.metier}}</p>
                                <a href="{{path("contact_user")}}" class="btn btn-secondary">Contacter</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}