<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX 
        <a class="nav-link active" aria-current="page" href="{{path("app_projet")}}">Projets</a>
         <a href="{{path("app_login")}}" class="text-white btn">S'identifier</a> |
        #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <section class="bg-dark mb-5  px-5" style="height:75px">
           <nav class=" w-100 pt-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white " aria-current="page" href="{{path("app_home")}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  href="{{path("app_projet")}}">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_about")}}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{path("app_contact")}}">Contact</a>
                    </li>
                    {% if app.user %}
                        <a href="{{path("app_logout")}}" class="text-white btn">Deconnexion</a>
                        <a href="{{path("app_user")}}" class="text-white btn ">Mon Compte</a>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{path("app_login")}}" class="text-white btn">S'identifier</a> |
                            <a href="{{path("new_user")}}" class="text-white btn">S'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </section>
        {% block body %}{% endblock %}
        <footer class="footer mt-auto py-3 bg-dark">
            <div class="container">
                <span class="text-light">Place sticky footer content here.</span>
            </div>
        </footer>
    </body>
</html>
